@import url(https://fonts.googleapis.com/css?family=Megrim);

body {
	text-align: center;
}
h1 {
	font-family: 'Megrim', cursive; 
	font-weight: 400;
	font-size: 3em;
	color:#9a504f;
	line-height: 4px;
} 

p {
	color: #000;
	background-color: white;
	font-family: Helvetica, sans-serif;
	padding-right: 200px;
	padding-left: 200px;
}

#slogan {
	font-style: italic;
	line-height: 4px;
}

#skills {
	text-align: left;
}

ul{
	text-align: center;
	font-family: Helvetica, sans-serif;
	list-style-type: none;
	background-color: white;
}